<%= form_with(model: task, local: true) do |t| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= t.label :content, 'タスク名' %>
  <%= t.text_field :content %>
  <%= t.label :status, 'ステータス' %>
  <%= t.text_field :status %>
  
  <%= t.submit '送信' %>
<% end %>