<h1>新規タスク登録ページ</h1>
<%= form_with(model:@task, local:true) do |t| %>
  <%= t.label :content , '新規タスク名'%>
  <%= t.text_field :content %>
  <%= t.submit '登録' %>
<% end %>

<%= link_to '戻る', tasks_path %>